<div class="sff-footer">
    <div class="footer-content">
        <div class="content-stage">
            <a href="/" class="logo">
                <img src="/assets/img/logo/SafirFuarLogo.png">
            </a>
        </div>
        <div class="content-stage">
            <div class="stage-name">
                <p>Navigasyon</p>
            </div>
            <div class="options" type="navigation">
                <div class="option" type="main">
                    <p>Ana Sayfa</p>
                </div>
                <div class="option" type="gastro">
                    <p>Gastro</p>
                </div>
                <div class="option" type="about">
                    <p>Hakkımızda</p>
                </div>
                <div class="option" type="projects">
                    <p>Örnek Projeler</p>
                </div>
                <div class="option" type="referances">
                    <p>Referanslar</p>
                </div>
                <div class="option" type="process">
                    <p>İş Süreci</p>
                </div>
                <div class="option" type="contact">
                    <p>İletişim</p>
                </div>
            </div>
        </div>
        <div class="content-stage">
            <div class="stage-name">
                <p>İletişim</p>
            </div>
            <div class="options">
                <div class="option">
                    <a href="https://maps.app.goo.gl/Gaq5vF4iYTWcsU7m7">
                        <p>Merkez: Enver Adakan Cad 14 A1 D22 beylikduzu/ist</p>
                    </a>
                </div>
                <div class="option">
                    <a href="https://maps.app.goo.gl/voiZ37Mc4ZsMCB3dA">
                        <p>Imalat: oktay rifat cad turgut ozal mah. no 95 esenyurt /ist</p>
                    </a>
                </div>
                <div class="option">
                    <a href="tel:+90 549 451 8811">
                        <p>Telefon: 0549 451 8811</p>
                    </a>
                </div>
                <div class="option">
                    <a href="tel:+90 549 451 8810">
                        <p>Telefon: 0549 451 8810</p>
                    </a>
                </div>
                <div class="option">
                    <a href="mailto:info@safirfuar.com">
                        <p>E-posta: info@safirfuar.com</p>
                    </a>
                </div>
                <div class="option">
                    <p>Hafta içi 09:00 - 19:00</p>
                </div>
            </div>
        </div>
        <div class="content-stage">
            <div class="stage-name">
                <p>Hemen Teklif Alın</p>
            </div>
            <div class="router" type="contact">
                <p>İletişim</p>
            </div>
        </div>
    </div>
    <a href="https://liriandev.com" style="text-decoration: none;">
        <div class="signature">
            <div class="copyright">
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path
                            d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM199.4 312.6c-31.2-31.2-31.2-81.9 0-113.1s81.9-31.2 113.1 0c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9c-50-50-131-50-181 0s-50 131 0 181s131 50 181 0c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0c-31.2 31.2-81.9 31.2-113.1 0z" />
                    </svg>
                </div>
                <div class="date">
                    <p></p>
                </div>
                <div class="name">
                    <p>Safir Fuar.</p>
                </div>
                <div class="text">
                    <p>Tüm hakları saklıdır.</p>
                </div>
            </div>
            <div class="signature-author">
                <p>Liriandev</p>
            </div>
        </div>
    </a>
</div>
<script src="/backend/js/inc/menu/index.js"></script>
<script src="/backend/js/inc/footer/index.js"></script>