<% switch (language) { case "tr" : %>
    <div class="sff-footer">
        <div class="footer-content">
            <div class="content-stage">
                <a href="/" class="logo">
                    <img src="/assets/img/logo/SafirFuarLogo.png">
                </a>
            </div>
            <div class="content-stage">
                <div class="stage-name">
                    <p>Navigasyon</p>
                </div>
                <div class="options" type="navigation">
                    <div class="option" type="main">
                        <p>Ana Sayfa</p>
                    </div>
                    <div class="option" type="gastro">
                        <p>Gastro</p>
                    </div>
                    <div class="option" type="about">
                        <p>Hakkımızda</p>
                    </div>
                    <div class="option" type="projects">
                        <p>Örnek Projeler</p>
                    </div>
                    <div class="option" type="referances">
                        <p>Referanslar</p>
                    </div>
                    <div class="option" type="process">
                        <p>İş Süreci</p>
                    </div>
                    <div class="option" type="contact">
                        <p>İletişim</p>
                    </div>
                </div>
            </div>
            <div class="content-stage">
                <div class="stage-name">
                    <p>İletişim</p>
                </div>
                <div class="options">
                    <div class="option">
                        <a href="https://maps.app.goo.gl/Gaq5vF4iYTWcsU7m7">
                            <p>Merkez: Enver Adakan Cad 14 A1 D22 beylikduzu/ist</p>
                        </a>
                    </div>
                    <div class="option">
                        <a href="https://maps.app.goo.gl/voiZ37Mc4ZsMCB3dA">
                            <p>Imalat: oktay rifat cad turgut ozal mah. no 95 esenyurt /ist</p>
                        </a>
                    </div>
                    <div class="option">
                        <a href="tel:+90 549 451 8811">
                            <p>Telefon: 0549 451 8811</p>
                        </a>
                    </div>
                    <div class="option">
                        <a href="tel:+90 549 451 8810">
                            <p>Telefon: 0549 451 8810</p>
                        </a>
                    </div>
                    <div class="option">
                        <a href="mailto:info@safirfuar.com">
                            <p>E-posta: info@safirfuar.com</p>
                        </a>
                    </div>
                    <div class="option">
                        <p>Hafta içi 09:00 - 19:00</p>
                    </div>
                </div>
            </div>
            <div class="content-stage">
                <div class="stage-name">
                    <p>Hemen Teklif Alın</p>
                </div>
                <div class="router" type="contact">
                    <p>İletişim</p>
                </div>
            </div>
        </div>
        <a href="https://liriandev.com" style="text-decoration: none;">
            <div class="signature">
                <div class="copyright">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path
                                d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM199.4 312.6c-31.2-31.2-31.2-81.9 0-113.1s81.9-31.2 113.1 0c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9c-50-50-131-50-181 0s-50 131 0 181s131 50 181 0c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0c-31.2 31.2-81.9 31.2-113.1 0z" />
                        </svg>
                    </div>
                    <div class="date">
                        <p></p>
                    </div>
                    <div class="name">
                        <p>Safir Fuar.</p>
                    </div>
                    <div class="text">
                        <p>Tüm hakları saklıdır.</p>
                    </div>
                </div>
                <div class="signature-author">
                    <p>Liriandev</p>
                </div>
            </div>
        </a>
    </div>
    <% break; case "en" : %>
        <div class="sff-footer">
            <div class="footer-content">
                <div class="content-stage">
                    <a href="/" class="logo">
                        <img src="/assets/img/logo/SafirFuarLogo.png">
                    </a>
                </div>
                <div class="content-stage">
                    <div class="stage-name">
                        <p>Navigation</p>
                    </div>
                    <div class="options" type="navigation">
                        <div class="option" type="main">
                            <p>Home</p>
                        </div>
                        <div class="option" type="gastro">
                            <p>Gastro</p>
                        </div>
                        <div class="option" type="about">
                            <p>About Us</p>
                        </div>
                        <div class="option" type="projects">
                            <p>Sample Projects</p>
                        </div>
                        <div class="option" type="referances">
                            <p>References</p>
                        </div>
                        <div class="option" type="process">
                            <p>Our Process</p>
                        </div>
                        <div class="option" type="contact">
                            <p>Contact</p>
                        </div>
                    </div>
                </div>
                <div class="content-stage">
                    <div class="stage-name">
                        <p>Contact Info</p>
                    </div>
                    <div class="options">
                        <div class="option">
                            <a href="https://maps.app.goo.gl/Gaq5vF4iYTWcsU7m7">
                                <p>Headquarters: Enver Adakan Cad 14 A1 D22 Beylikduzu/IST</p>
                            </a>
                        </div>
                        <div class="option">
                            <a href="https://maps.app.goo.gl/voiZ37Mc4ZsMCB3dA">
                                <p>Factory: Oktay Rifat Cad Turgut Ozal Mah. No 95 Esenyurt/IST</p>
                            </a>
                        </div>
                        <div class="option">
                            <a href="tel:+90 549 451 8811">
                                <p>Phone: +90 549 451 8811</p>
                            </a>
                        </div>
                        <div class="option">
                            <a href="tel:+90 549 451 8810">
                                <p>Phone: +90 549 451 8810</p>
                            </a>
                        </div>
                        <div class="option">
                            <a href="mailto:info@safirfuar.com">
                                <p>Email: info@safirfuar.com</p>
                            </a>
                        </div>
                        <div class="option">
                            <p>Mon - Fri: 09:00 AM - 07:00 PM</p>
                        </div>
                    </div>
                </div>
                <div class="content-stage">
                    <div class="stage-name">
                        <p>Get a Quote Now</p>
                    </div>
                    <div class="router" type="contact">
                        <p>Contact Us</p>
                    </div>
                </div>
            </div>
            <a href="https://liriandev.com" style="text-decoration: none;">
                <div class="signature">
                    <div class="copyright">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path
                                    d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM199.4 312.6c-31.2-31.2-31.2-81.9 0-113.1s81.9-31.2 113.1 0c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9c-50-50-131-50-181 0s-50 131 0 181s131 50 181 0c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0c-31.2 31.2-81.9 31.2-113.1 0z" />
                            </svg>
                        </div>
                        <div class="date">
                            <p></p>
                        </div>
                        <div class="name">
                            <p>Safir Fuar.</p>
                        </div>
                        <div class="text">
                            <p>All rights reserved.</p>
                        </div>
                    </div>
                    <div class="signature-author">
                        <p>Liriandev</p>
                    </div>
                </div>
            </a>
        </div>
        <% break; case "ar" : %>
            <div class="sff-footer" dir="rtl">
                <div class="footer-content">
                    <div class="content-stage">
                        <a href="/" class="logo">
                            <img src="/assets/img/logo/SafirFuarLogo.png">
                        </a>
                    </div>
                    <div class="content-stage">
                        <div class="stage-name">
                            <p>التنقل</p>
                        </div>
                        <div class="options" type="navigation">
                            <div class="option" type="main">
                                <p>الصفحة الرئيسية</p>
                            </div>
                            <div class="option" type="gastro">
                                <p>جاسترو</p>
                            </div>
                            <div class="option" type="about">
                                <p>من نحن</p>
                            </div>
                            <div class="option" type="projects">
                                <p>نماذج المشاريع</p>
                            </div>
                            <div class="option" type="referances">
                                <p>عملائنا</p>
                            </div>
                            <div class="option" type="process">
                                <p>سير العمل</p>
                            </div>
                            <div class="option" type="contact">
                                <p>اتصل بنا</p>
                            </div>
                        </div>
                    </div>
                    <div class="content-stage">
                        <div class="stage-name">
                            <p>معلومات الاتصال</p>
                        </div>
                        <div class="options">
                            <div class="option">
                                <a href="https://maps.app.goo.gl/Gaq5vF4iYTWcsU7m7">
                                    <p>المقر الرئيسي: Enver Adakan Cad 14 A1 D22 Beylikduzu/IST</p>
                                </a>
                            </div>
                            <div class="option">
                                <a href="https://maps.app.goo.gl/voiZ37Mc4ZsMCB3dA">
                                    <p>المصنع: Oktay Rifat Cad Turgut Ozal Mah. No 95 Esenyurt/IST</p>
                                </a>
                            </div>
                            <div class="option">
                                <a href="tel:+90 549 451 8811">
                                    <p>الهاتف: +90 549 451 8811</p>
                                </a>
                            </div>
                            <div class="option">
                                <a href="tel:+90 549 451 8810">
                                    <p>الهاتف: +90 549 451 8810</p>
                                </a>
                            </div>
                            <div class="option">
                                <a href="mailto:info@safirfuar.com">
                                    <p>البريد الإلكتروني: info@safirfuar.com</p>
                                </a>
                            </div>
                            <div class="option">
                                <p>أيام العمل: 09:00 - 19:00</p>
                            </div>
                        </div>
                    </div>
                    <div class="content-stage">
                        <div class="stage-name">
                            <p>احصل على عرض سعر الآن</p>
                        </div>
                        <div class="router" type="contact">
                            <p>اتصل بنا</p>
                        </div>
                    </div>
                </div>
                <a href="https://liriandev.com" style="text-decoration: none;">
                    <div class="signature">
                        <div class="copyright">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path
                                        d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM199.4 312.6c-31.2-31.2-31.2-81.9 0-113.1s81.9-31.2 113.1 0c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9c-50-50-131-50-181 0s-50 131 0 181s131 50 181 0c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0c-31.2 31.2-81.9 31.2-113.1 0z" />
                                </svg>
                            </div>
                            <div class="date">
                                <p></p>
                            </div>
                            <div class="name">
                                <p>Safir Fuar.</p>
                            </div>
                            <div class="text">
                                <p>جميع الحقوق محفوظة.</p>
                            </div>
                        </div>
                        <div class="signature-author">
                            <p>Liriandev</p>
                        </div>
                    </div>
                </a>
            </div>
            <% break; case "de" : %>
                <div class="sff-footer">
                    <div class="footer-content">
                        <div class="content-stage">
                            <a href="/" class="logo">
                                <img src="/assets/img/logo/SafirFuarLogo.png">
                            </a>
                        </div>
                        <div class="content-stage">
                            <div class="stage-name">
                                <p>Navigation</p>
                            </div>
                            <div class="options" type="navigation">
                                <div class="option" type="main">
                                    <p>Startseite</p>
                                </div>
                                <div class="option" type="gastro">
                                    <p>Gastro</p>
                                </div>
                                <div class="option" type="about">
                                    <p>Über uns</p>
                                </div>
                                <div class="option" type="projects">
                                    <p>Beispielprojekte</p>
                                </div>
                                <div class="option" type="referances">
                                    <p>Referenzen</p>
                                </div>
                                <div class="option" type="process">
                                    <p>Arbeitsprozess</p>
                                </div>
                                <div class="option" type="contact">
                                    <p>Kontakt</p>
                                </div>
                            </div>
                        </div>
                        <div class="content-stage">
                            <div class="stage-name">
                                <p>Kontaktinformationen</p>
                            </div>
                            <div class="options">
                                <div class="option">
                                    <a href="https://maps.app.goo.gl/Gaq5vF4iYTWcsU7m7">
                                        <p>Hauptsitz: Enver Adakan Cad 14 A1 D22 Beylikduzu/IST</p>
                                    </a>
                                </div>
                                <div class="option">
                                    <a href="https://maps.app.goo.gl/voiZ37Mc4ZsMCB3dA">
                                        <p>Produktion: Oktay Rifat Cad Turgut Ozal Mah. No 95 Esenyurt/IST</p>
                                    </a>
                                </div>
                                <div class="option">
                                    <a href="tel:+90 549 451 8811">
                                        <p>Telefon: +90 549 451 8811</p>
                                    </a>
                                </div>
                                <div class="option">
                                    <a href="tel:+90 549 451 8810">
                                        <p>Telefon: +90 549 451 8810</p>
                                    </a>
                                </div>
                                <div class="option">
                                    <a href="mailto:info@safirfuar.com">
                                        <p>E-Mail: info@safirfuar.com</p>
                                    </a>
                                </div>
                                <div class="option">
                                    <p>Werktags: 09:00 - 19:00</p>
                                </div>
                            </div>
                        </div>
                        <div class="content-stage">
                            <div class="stage-name">
                                <p>Jetzt Angebot anfordern</p>
                            </div>
                            <div class="router" type="contact">
                                <p>Kontakt</p>
                            </div>
                        </div>
                    </div>
                    <a href="https://liriandev.com" style="text-decoration: none;">
                        <div class="signature">
                            <div class="copyright">
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path
                                            d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM199.4 312.6c-31.2-31.2-31.2-81.9 0-113.1s81.9-31.2 113.1 0c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9c-50-50-131-50-181 0s-50 131 0 181s131 50 181 0c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0c-31.2 31.2-81.9 31.2-113.1 0z" />
                                    </svg>
                                </div>
                                <div class="date">
                                    <p></p>
                                </div>
                                <div class="name">
                                    <p>Safir Fuar.</p>
                                </div>
                                <div class="text">
                                    <p>Alle Rechte vorbehalten.</p>
                                </div>
                            </div>
                            <div class="signature-author">
                                <p>Liriandev</p>
                            </div>
                        </div>
                    </a>
                </div>
                <% break; case "es" : %>
                    <div class="sff-footer">
                        <div class="footer-content">
                            <div class="content-stage">
                                <a href="/" class="logo">
                                    <img src="/assets/img/logo/SafirFuarLogo.png">
                                </a>
                            </div>
                            <div class="content-stage">
                                <div class="stage-name">
                                    <p>Navegación</p>
                                </div>
                                <div class="options" type="navigation">
                                    <div class="option" type="main">
                                        <p>Inicio</p>
                                    </div>
                                    <div class="option" type="gastro">
                                        <p>Gastro</p>
                                    </div>
                                    <div class="option" type="about">
                                        <p>Sobre Nosotros</p>
                                    </div>
                                    <div class="option" type="projects">
                                        <p>Proyectos de Ejemplo</p>
                                    </div>
                                    <div class="option" type="referances">
                                        <p>Referencias</p>
                                    </div>
                                    <div class="option" type="process">
                                        <p>Proceso de Trabajo</p>
                                    </div>
                                    <div class="option" type="contact">
                                        <p>Contacto</p>
                                    </div>
                                </div>
                            </div>
                            <div class="content-stage">
                                <div class="stage-name">
                                    <p>Información de Contacto</p>
                                </div>
                                <div class="options">
                                    <div class="option">
                                        <a href="https://maps.app.goo.gl/Gaq5vF4iYTWcsU7m7">
                                            <p>Sede Central: Enver Adakan Cad 14 A1 D22 Beylikduzu/IST</p>
                                        </a>
                                    </div>
                                    <div class="option">
                                        <a href="https://maps.app.goo.gl/voiZ37Mc4ZsMCB3dA">
                                            <p>Fábrica: Oktay Rifat Cad Turgut Ozal Mah. No 95 Esenyurt/IST</p>
                                        </a>
                                    </div>
                                    <div class="option">
                                        <a href="tel:+90 549 451 8811">
                                            <p>Teléfono: +90 549 451 8811</p>
                                        </a>
                                    </div>
                                    <div class="option">
                                        <a href="tel:+90 549 451 8810">
                                            <p>Teléfono: +90 549 451 8810</p>
                                        </a>
                                    </div>
                                    <div class="option">
                                        <a href="mailto:info@safirfuar.com">
                                            <p>Email: info@safirfuar.com</p>
                                        </a>
                                    </div>
                                    <div class="option">
                                        <p>Lunes a Viernes: 09:00 - 19:00</p>
                                    </div>
                                </div>
                            </div>
                            <div class="content-stage">
                                <div class="stage-name">
                                    <p>Solicite un Presupuesto</p>
                                </div>
                                <div class="router" type="contact">
                                    <p>Contacto</p>
                                </div>
                            </div>
                        </div>
                        <a href="https://liriandev.com" style="text-decoration: none;">
                            <div class="signature">
                                <div class="copyright">
                                    <div class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                            <path
                                                d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM199.4 312.6c-31.2-31.2-31.2-81.9 0-113.1s81.9-31.2 113.1 0c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9c-50-50-131-50-181 0s-50 131 0 181s131 50 181 0c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0c-31.2 31.2-81.9 31.2-113.1 0z" />
                                        </svg>
                                    </div>
                                    <div class="date">
                                        <p></p>
                                    </div>
                                    <div class="name">
                                        <p>Safir Fuar.</p>
                                    </div>
                                    <div class="text">
                                        <p>Todos los derechos reservados.</p>
                                    </div>
                                </div>
                                <div class="signature-author">
                                    <p>Liriandev</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <% break; case "fr" : %>
                        <div class="sff-footer">
                            <div class="footer-content">
                                <div class="content-stage">
                                    <a href="/" class="logo">
                                        <img src="/assets/img/logo/SafirFuarLogo.png">
                                    </a>
                                </div>
                                <div class="content-stage">
                                    <div class="stage-name">
                                        <p>Navigation</p>
                                    </div>
                                    <div class="options" type="navigation">
                                        <div class="option" type="main">
                                            <p>Accueil</p>
                                        </div>
                                        <div class="option" type="gastro">
                                            <p>Gastro</p>
                                        </div>
                                        <div class="option" type="about">
                                            <p>À Propos</p>
                                        </div>
                                        <div class="option" type="projects">
                                            <p>Exemples de Projets</p>
                                        </div>
                                        <div class="option" type="referances">
                                            <p>Références</p>
                                        </div>
                                        <div class="option" type="process">
                                            <p>Processus de Travail</p>
                                        </div>
                                        <div class="option" type="contact">
                                            <p>Contact</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-stage">
                                    <div class="stage-name">
                                        <p>Coordonnées</p>
                                    </div>
                                    <div class="options">
                                        <div class="option">
                                            <a href="https://maps.app.goo.gl/Gaq5vF4iYTWcsU7m7">
                                                <p>Siège Social: Enver Adakan Cad 14 A1 D22 Beylikduzu/IST</p>
                                            </a>
                                        </div>
                                        <div class="option">
                                            <a href="https://maps.app.goo.gl/voiZ37Mc4ZsMCB3dA">
                                                <p>Usine: Oktay Rifat Cad Turgut Ozal Mah. No 95 Esenyurt/IST</p>
                                            </a>
                                        </div>
                                        <div class="option">
                                            <a href="tel:+90 549 451 8811">
                                                <p>Téléphone: +90 549 451 8811</p>
                                            </a>
                                        </div>
                                        <div class="option">
                                            <a href="tel:+90 549 451 8810">
                                                <p>Téléphone: +90 549 451 8810</p>
                                            </a>
                                        </div>
                                        <div class="option">
                                            <a href="mailto:info@safirfuar.com">
                                                <p>E-mail: info@safirfuar.com</p>
                                            </a>
                                        </div>
                                        <div class="option">
                                            <p>Lundi au Vendredi: 09:00 - 19:00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-stage">
                                    <div class="stage-name">
                                        <p>Demandez un Devis</p>
                                    </div>
                                    <div class="router" type="contact">
                                        <p>Contact</p>
                                    </div>
                                </div>
                            </div>
                            <a href="https://liriandev.com" style="text-decoration: none;">
                                <div class="signature">
                                    <div class="copyright">
                                        <div class="icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                <path
                                                    d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM199.4 312.6c-31.2-31.2-31.2-81.9 0-113.1s81.9-31.2 113.1 0c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9c-50-50-131-50-181 0s-50 131 0 181s131 50 181 0c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0c-31.2 31.2-81.9 31.2-113.1 0z" />
                                            </svg>
                                        </div>
                                        <div class="date">
                                            <p></p>
                                        </div>
                                        <div class="name">
                                            <p>Safir Fuar.</p>
                                        </div>
                                        <div class="text">
                                            <p>Tous droits réservés.</p>
                                        </div>
                                    </div>
                                    <div class="signature-author">
                                        <p>Liriandev</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <% break; case "it" : %>
                            <div class="sff-footer">
                                <div class="footer-content">
                                    <div class="content-stage">
                                        <a href="/" class="logo">
                                            <img src="/assets/img/logo/SafirFuarLogo.png">
                                        </a>
                                    </div>
                                    <div class="content-stage">
                                        <div class="stage-name">
                                            <p>Navigazione</p>
                                        </div>
                                        <div class="options" type="navigation">
                                            <div class="option" type="main">
                                                <p>Home</p>
                                            </div>
                                            <div class="option" type="gastro">
                                                <p>Gastro</p>
                                            </div>
                                            <div class="option" type="about">
                                                <p>Chi Siamo</p>
                                            </div>
                                            <div class="option" type="projects">
                                                <p>Esempi di Progetti</p>
                                            </div>
                                            <div class="option" type="referances">
                                                <p>Referenze</p>
                                            </div>
                                            <div class="option" type="process">
                                                <p>Processo di Lavoro</p>
                                            </div>
                                            <div class="option" type="contact">
                                                <p>Contatti</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-stage">
                                        <div class="stage-name">
                                            <p>Informazioni di Contatto</p>
                                        </div>
                                        <div class="options">
                                            <div class="option">
                                                <a href="https://maps.app.goo.gl/Gaq5vF4iYTWcsU7m7">
                                                    <p>Sede Centrale: Enver Adakan Cad 14 A1 D22 Beylikduzu/IST</p>
                                                </a>
                                            </div>
                                            <div class="option">
                                                <a href="https://maps.app.goo.gl/voiZ37Mc4ZsMCB3dA">
                                                    <p>Produzione: Oktay Rifat Cad Turgut Ozal Mah. No 95 Esenyurt/IST
                                                    </p>
                                                </a>
                                            </div>
                                            <div class="option">
                                                <a href="tel:+90 549 451 8811">
                                                    <p>Telefono: +90 549 451 8811</p>
                                                </a>
                                            </div>
                                            <div class="option">
                                                <a href="tel:+90 549 451 8810">
                                                    <p>Telefono: +90 549 451 8810</p>
                                                </a>
                                            </div>
                                            <div class="option">
                                                <a href="mailto:info@safirfuar.com">
                                                    <p>E-mail: info@safirfuar.com</p>
                                                </a>
                                            </div>
                                            <div class="option">
                                                <p>Dal Lunedì al Venerdì: 09:00 - 19:00</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-stage">
                                        <div class="stage-name">
                                            <p>Richiedi un Preventivo</p>
                                        </div>
                                        <div class="router" type="contact">
                                            <p>Contatti</p>
                                        </div>
                                    </div>
                                </div>
                                <a href="https://liriandev.com" style="text-decoration: none;">
                                    <div class="signature">
                                        <div class="copyright">
                                            <div class="icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path
                                                        d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM199.4 312.6c-31.2-31.2-31.2-81.9 0-113.1s81.9-31.2 113.1 0c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9c-50-50-131-50-181 0s-50 131 0 181s131 50 181 0c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0c-31.2 31.2-81.9 31.2-113.1 0z" />
                                                </svg>
                                            </div>
                                            <div class="date">
                                                <p></p>
                                            </div>
                                            <div class="name">
                                                <p>Safir Fuar.</p>
                                            </div>
                                            <div class="text">
                                                <p>Tutti i diritti riservati.</p>
                                            </div>
                                        </div>
                                        <div class="signature-author">
                                            <p>Liriandev</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <% break; case "nl" : %>
                                <div class="sff-footer">
                                    <div class="footer-content">
                                        <div class="content-stage">
                                            <div class="logo">
                                                <img src="/assets/img/logo/SafirFuarLogo.png">
                                            </div>
                                        </div>
                                        <div class="content-stage">
                                            <div class="stage-name">
                                                <p>Navigatie</p>
                                            </div>
                                            <div class="options" type="navigation">
                                                <div class="option" type="main">
                                                    <p>Home</p>
                                                </div>
                                                <div class="option" type="gastro">
                                                    <p>Gastro</p>
                                                </div>
                                                <div class="option" type="about">
                                                    <p>Over Ons</p>
                                                </div>
                                                <div class="option" type="projects">
                                                    <p>Voorbeeldprojecten</p>
                                                </div>
                                                <div class="option" type="referances">
                                                    <p>Referenties</p>
                                                </div>
                                                <div class="option" type="process">
                                                    <p>Werkproces</p>
                                                </div>
                                                <div class="option" type="contact">
                                                    <p>Contact</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content-stage">
                                            <div class="stage-name">
                                                <p>Contactinformatie</p>
                                            </div>
                                            <div class="options">
                                                <div class="option">
                                                    <a href="https://maps.app.goo.gl/Gaq5vF4iYTWcsU7m7">
                                                        <p>Hoofdkantoor: Enver Adakan Cad 14 A1 D22 Beylikduzu/IST</p>
                                                    </a>
                                                </div>
                                                <div class="option">
                                                    <a href="https://maps.app.goo.gl/voiZ37Mc4ZsMCB3dA">
                                                        <p>Productie: Oktay Rifat Cad Turgut Ozal Mah. No 95
                                                            Esenyurt/IST</p>
                                                    </a>
                                                </div>
                                                <div class="option">
                                                    <a href="tel:+90 549 451 8811">
                                                        <p>Telefoon: +90 549 451 8811</p>
                                                    </a>
                                                </div>
                                                <div class="option">
                                                    <a href="tel:+90 549 451 8810">
                                                        <p>Telefoon: +90 549 451 8810</p>
                                                    </a>
                                                </div>
                                                <div class="option">
                                                    <a href="mailto:info@safirfuar.com">
                                                        <p>E-mail: info@safirfuar.com</p>
                                                    </a>
                                                </div>
                                                <div class="option">
                                                    <p>Werkdagen: 09:00 - 19:00</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content-stage">
                                            <div class="stage-name">
                                                <p>Vraag nu een offerte aan</p>
                                            </div>
                                            <div class="router" type="contact">
                                                <p>Contact</p>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="https://liriandev.com" style="text-decoration: none;">
                                        <div class="signature">
                                            <div class="copyright">
                                                <div class="icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                        <path
                                                            d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM199.4 312.6c-31.2-31.2-31.2-81.9 0-113.1s81.9-31.2 113.1 0c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9c-50-50-131-50-181 0s-50 131 0 181s131 50 181 0c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0c-31.2 31.2-81.9 31.2-113.1 0z" />
                                                    </svg>
                                                </div>
                                                <div class="date">
                                                    <p></p>
                                                </div>
                                                <div class="name">
                                                    <p>Safir Fuar.</p>
                                                </div>
                                                <div class="text">
                                                    <p>Alle rechten voorbehouden.</p>
                                                </div>
                                            </div>
                                            <div class="signature-author">
                                                <p>Liriandev</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <% break; case "pt" : %>
                                    <div class="sff-footer">
                                        <div class="footer-content">
                                            <div class="content-stage">
                                                <a href="/" class="logo">
                                                    <img src="/assets/img/logo/SafirFuarLogo.png">
                                                </a>
                                            </div>
                                            <div class="content-stage">
                                                <div class="stage-name">
                                                    <p>Navegação</p>
                                                </div>
                                                <div class="options" type="navigation">
                                                    <div class="option" type="main">
                                                        <p>Início</p>
                                                    </div>
                                                    <div class="option" type="gastro">
                                                        <p>Gastro</p>
                                                    </div>
                                                    <div class="option" type="about">
                                                        <p>Sobre Nós</p>
                                                    </div>
                                                    <div class="option" type="projects">
                                                        <p>Exemplos de Projetos</p>
                                                    </div>
                                                    <div class="option" type="referances">
                                                        <p>Referências</p>
                                                    </div>
                                                    <div class="option" type="process">
                                                        <p>Processo de Trabalho</p>
                                                    </div>
                                                    <div class="option" type="contact">
                                                        <p>Contato</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content-stage">
                                                <div class="stage-name">
                                                    <p>Informações de Contato</p>
                                                </div>
                                                <div class="options">
                                                    <div class="option">
                                                        <a href="https://maps.app.goo.gl/Gaq5vF4iYTWcsU7m7">
                                                            <p>Sede: Enver Adakan Cad 14 A1 D22 Beylikduzu/IST</p>
                                                        </a>
                                                    </div>
                                                    <div class="option">
                                                        <a href="https://maps.app.goo.gl/voiZ37Mc4ZsMCB3dA">
                                                            <p>Fábrica: Oktay Rifat Cad Turgut Ozal Mah. No 95
                                                                Esenyurt/IST</p>
                                                        </a>
                                                    </div>
                                                    <div class="option">
                                                        <a href="tel:+90 549 451 8811">
                                                            <p>Telefone: +90 549 451 8811</p>
                                                        </a>
                                                    </div>
                                                    <div class="option">
                                                        <a href="tel:+90 549 451 8810">
                                                            <p>Telefone: +90 549 451 8810</p>
                                                        </a>
                                                    </div>
                                                    <div class="option">
                                                        <a href="mailto:info@safirfuar.com">
                                                            <p>E-mail: info@safirfuar.com</p>
                                                        </a>
                                                    </div>
                                                    <div class="option">
                                                        <p>Segunda a Sexta: 09:00 - 19:00</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="content-stage">
                                                <div class="stage-name">
                                                    <p>Solicite um Orçamento</p>
                                                </div>
                                                <div class="router" type="contact">
                                                    <p>Contato</p>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="https://liriandev.com" style="text-decoration: none;">
                                            <div class="signature">
                                                <div class="copyright">
                                                    <div class="icon">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                            <path
                                                                d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM199.4 312.6c-31.2-31.2-31.2-81.9 0-113.1s81.9-31.2 113.1 0c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9c-50-50-131-50-181 0s-50 131 0 181s131 50 181 0c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0c-31.2 31.2-81.9 31.2-113.1 0z" />
                                                        </svg>
                                                    </div>
                                                    <div class="date">
                                                        <p></p>
                                                    </div>
                                                    <div class="name">
                                                        <p>Safir Fuar.</p>
                                                    </div>
                                                    <div class="text">
                                                        <p>Todos os direitos reservados.</p>
                                                    </div>
                                                </div>
                                                <div class="signature-author">
                                                    <p>Liriandev</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <% break; case "sv" : %>
                                        <div class="sff-footer">
                                            <div class="footer-content">
                                                <div class="content-stage">
                                                    <a href="/" class="logo">
                                                        <img src="/assets/img/logo/SafirFuarLogo.png">
                                                    </a>
                                                </div>
                                                <div class="content-stage">
                                                    <div class="stage-name">
                                                        <p>Navigering</p>
                                                    </div>
                                                    <div class="options" type="navigation">
                                                        <div class="option" type="main">
                                                            <p>Hem</p>
                                                        </div>
                                                        <div class="option" type="gastro">
                                                            <p>Gastro</p>
                                                        </div>
                                                        <div class="option" type="about">
                                                            <p>Om Oss</p>
                                                        </div>
                                                        <div class="option" type="projects">
                                                            <p>Exempelprojekt</p>
                                                        </div>
                                                        <div class="option" type="referances">
                                                            <p>Referenser</p>
                                                        </div>
                                                        <div class="option" type="process">
                                                            <p>Arbetsprocess</p>
                                                        </div>
                                                        <div class="option" type="contact">
                                                            <p>Kontakt</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="content-stage">
                                                    <div class="stage-name">
                                                        <p>Kontaktinformation</p>
                                                    </div>
                                                    <div class="options">
                                                        <div class="option">
                                                            <a href="https://maps.app.goo.gl/Gaq5vF4iYTWcsU7m7">
                                                                <p>Huvudkontor: Enver Adakan Cad 14 A1 D22
                                                                    Beylikduzu/IST</p>
                                                            </a>
                                                        </div>
                                                        <div class="option">
                                                            <a href="https://maps.app.goo.gl/voiZ37Mc4ZsMCB3dA">
                                                                <p>Fabrik: Oktay Rifat Cad Turgut Ozal Mah. No 95
                                                                    Esenyurt/IST</p>
                                                            </a>
                                                        </div>
                                                        <div class="option">
                                                            <a href="tel:+90 549 451 8811">
                                                                <p>Telefon: +90 549 451 8811</p>
                                                            </a>
                                                        </div>
                                                        <div class="option">
                                                            <a href="tel:+90 549 451 8810">
                                                                <p>Telefon: +90 549 451 8810</p>
                                                            </a>
                                                        </div>
                                                        <div class="option">
                                                            <a href="mailto:info@safirfuar.com">
                                                                <p>E-post: info@safirfuar.com</p>
                                                            </a>
                                                        </div>
                                                        <div class="option">
                                                            <p>Vardagar: 09:00 - 19:00</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="content-stage">
                                                    <div class="stage-name">
                                                        <p>Få en offert nu</p>
                                                    </div>
                                                    <div class="router" type="contact">
                                                        <p>Kontakt</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="https://liriandev.com" style="text-decoration: none;">
                                                <div class="signature">
                                                    <div class="copyright">
                                                        <div class="icon">
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                viewBox="0 0 512 512">
                                                                <path
                                                                    d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM199.4 312.6c-31.2-31.2-31.2-81.9 0-113.1s81.9-31.2 113.1 0c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9c-50-50-131-50-181 0s-50 131 0 181s131 50 181 0c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0c-31.2 31.2-81.9 31.2-113.1 0z" />
                                                            </svg>
                                                        </div>
                                                        <div class="date">
                                                            <p></p>
                                                        </div>
                                                        <div class="name">
                                                            <p>Safir Fuar.</p>
                                                        </div>
                                                        <div class="text">
                                                            <p>Alla rättigheter förbehållna.</p>
                                                        </div>
                                                    </div>
                                                    <div class="signature-author">
                                                        <p>Liriandev</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <% break; } %>

                                            <script src="/backend/js/inc/menu/index.js"></script>
                                            <script src="/backend/js/inc/footer/index.js"></script>