<div class="header">
    <div class="header-content">
        <div class="logo">
            <img src="/assets/img/logo/SafirFuarLogo.png" alt="Safir Fuar Logo">
        </div>
        <div class="nav">
            <div class="options" type="navigation">
                <div class="option" type="about">
                    <p>hakkımızda</p>
                </div>
                <div class="option" type="contact">
                    <p>İLETİŞİM</p>
                </div>
                <div class="option" type="referances">
                    <p>referanslarımız</p>
                </div>
                <div class="option" type="gastro">
                    <p>Gastro</p>
                </div>
            </div>
        </div>
        <div class="mobil">
            <div class="mobil-nav">
                <div class="icons">
                    <div class="open" onclick="navMenu()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 20 20">
                            <path fill="#fdfdfd" fill-rule="evenodd"
                                d="M3 5a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H4a1 1 0 0 1-1-1m0 5a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H4a1 1 0 0 1-1-1m0 5a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H4a1 1 0 0 1-1-1"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                    <div class="close" onclick="navMenu()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 512 512">
                            <path fill="#fdfdfd"
                                d="m289.94 256l95-95A24 24 0 0 0 351 127l-95 95l-95-95a24 24 0 0 0-34 34l95 95l-95 95a24 24 0 1 0 34 34l95-95l95 95a24 24 0 0 0 34-34Z"
                                stroke-width="13" stroke="#fdfdfd" />
                        </svg>
                    </div>
                </div>
                <div class="nav-content">
                    <div class="options" type="navigation">
                        <div class="option" type="about">
                            <p>hakkımızda</p>
                        </div>
                        <div class="option" type="contact">
                            <p>İLETİŞİM</p>
                        </div>
                        <div class="option" type="referances">
                            <p>referanslarımız</p>
                        </div>
                        <div class="option" type="gastro">
                            <p>Gastro</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/backend/js/inc/menu/index.js"></script>