<div class="header">
    <div class="header-content">
        <div class="logo">
            <img src="/assets/img/logo/SafirFuarLogo.png" alt="Safir Fuar Logo">
        </div>
        <div class="nav">
            <% switch (language) { case "tr" : %>
                <div class="options" type="navigation">
                    <div class="option" type="about">
                        <p>hakkımızda</p>
                    </div>
                    <div class="option" type="contact">
                        <p>İLETİŞİM</p>
                    </div>
                    <div class="option" type="referances">
                        <p>referanslarımız</p>
                    </div>
                    <div class="option" type="gastro">
                        <p>Gastro</p>
                    </div>
                </div>
                <% break; case "en" : %>
                    <div class="options" type="navigation">
                        <div class="option" type="about">
                            <p>About Us</p>
                        </div>
                        <div class="option" type="contact">
                            <p>Contact</p>
                        </div>
                        <div class="option" type="referances">
                            <p>References</p>
                        </div>
                        <div class="option" type="gastro">
                            <p>Gastro</p>
                        </div>
                    </div>
                    <% break; case "ar" : %>
                        <div class="options" type="navigation">
                            <div class="option" type="about">
                                <p>معلومات عنا</p>
                            </div>
                            <div class="option" type="contact">
                                <p>اتصل بنا</p>
                            </div>
                            <div class="option" type="referances">
                                <p>المرجعيات</p>
                            </div>
                            <div class="option" type="gastro">
                                <p>غاسترو</p>
                            </div>
                        </div>
                        <% break; case "de" : %>
                            <div class="options" type="navigation">
                                <div class="option" type="about">
                                    <p>Über uns</p>
                                </div>
                                <div class="option" type="contact">
                                    <p>Kontakt</p>
                                </div>
                                <div class="option" type="referances">
                                    <p>Referenzen</p>
                                </div>
                                <div class="option" type="gastro">
                                    <p>Gastro</p>
                                </div>
                            </div>
                            <% break; case "es" : %>
                                <div class="options" type="navigation">
                                    <div class="option" type="about">
                                        <p>Acerca de nosotros</p>
                                    </div>
                                    <div class="option" type="contact">
                                        <p>Contacto</p>
                                    </div>
                                    <div class="option" type="referances">
                                        <p>Referencias</p>
                                    </div>
                                    <div class="option" type="gastro">
                                        <p>Gastro</p>
                                    </div>
                                </div>
                                <% break; case "fr" : %>
                                    <div class="options" type="navigation">
                                        <div class="option" type="about">
                                            <p>À propos de nous</p>
                                        </div>
                                        <div class="option" type="contact">
                                            <p>Contact</p>
                                        </div>
                                        <div class="option" type="referances">
                                            <p>Références</p>
                                        </div>
                                        <div class="option" type="gastro">
                                            <p>Gastro</p>
                                        </div>
                                    </div>
                                    <% break; case "it" : %>
                                        <div class="option" type="about">
                                            <p>Chi Siamo</p>
                                        </div>
                                        <div class="option" type="contact">
                                            <p>Contatti</p>
                                        </div>
                                        <div class="option" type="referances">
                                            <p>Referenze</p>
                                        </div>
                                        <div class="option" type="gastro">
                                            <p>Gastro</p>
                                        </div>
                                        <% break; case "nl" : %>
                                            <div class="option" type="about">
                                                <p>Over ons</p>
                                            </div>
                                            <div class="option" type="contact">
                                                <p>Contact</p>
                                            </div>
                                            <div class="option" type="referances">
                                                <p>Referenties</p>
                                            </div>
                                            <div class="option" type="gastro">
                                                <p>Gastro</p>
                                            </div>
                                            <% break; case "pt" : %>
                                                <div class="option" type="about">
                                                    <p>Sobre nós</p>
                                                </div>
                                                <div class="option" type="contact">
                                                    <p>Contato</p>
                                                </div>
                                                <div class="option" type="referances">
                                                    <p>Referências</p>
                                                </div>
                                                <div class="option" type="gastro">
                                                    <p>Gastro</p>
                                                </div>
                                                <% break; case "sv" : %>
                                                    <div class="option" type="about">
                                                        <p>Om oss</p>
                                                    </div>
                                                    <div class="option" type="contact">
                                                        <p>Kontakt</p>
                                                    </div>
                                                    <div class="option" type="referances">
                                                        <p>Referenser</p>
                                                    </div>
                                                    <div class="option" type="gastro">
                                                        <p>Gastro</p>
                                                    </div>
                                                    <% break; }%>
        </div>
        <div class="mobil">
            <div class="mobil-nav">
                <div class="icons">
                    <div class="open" onclick="navMenu()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 20 20">
                            <path fill="#fdfdfd" fill-rule="evenodd"
                                d="M3 5a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H4a1 1 0 0 1-1-1m0 5a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H4a1 1 0 0 1-1-1m0 5a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H4a1 1 0 0 1-1-1"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                    <div class="close" onclick="navMenu()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 512 512">
                            <path fill="#fdfdfd"
                                d="m289.94 256l95-95A24 24 0 0 0 351 127l-95 95l-95-95a24 24 0 0 0-34 34l95 95l-95 95a24 24 0 1 0 34 34l95-95l95 95a24 24 0 0 0 34-34Z"
                                stroke-width="13" stroke="#fdfdfd" />
                        </svg>
                    </div>
                </div>
                <div class="nav-content">
                    <div class="options" type="navigation">
                        <% switch (language) { case "tr" : %>
                            <div class="options" type="navigation">
                                <div class="option" type="about">
                                    <p>hakkımızda</p>
                                </div>
                                <div class="option" type="contact">
                                    <p>İLETİŞİM</p>
                                </div>
                                <div class="option" type="referances">
                                    <p>referanslarımız</p>
                                </div>
                                <div class="option" type="gastro">
                                    <p>Gastro</p>
                                </div>
                            </div>
                            <% break; case "en" : %>
                                <div class="options" type="navigation">
                                    <div class="option" type="about">
                                        <p>About Us</p>
                                    </div>
                                    <div class="option" type="contact">
                                        <p>Contact</p>
                                    </div>
                                    <div class="option" type="referances">
                                        <p>References</p>
                                    </div>
                                    <div class="option" type="gastro">
                                        <p>Gastro</p>
                                    </div>
                                </div>
                                <% break; case "ar" : %>
                                    <div class="options" type="navigation">
                                        <div class="option" type="about">
                                            <p>معلومات عنا</p>
                                        </div>
                                        <div class="option" type="contact">
                                            <p>اتصل بنا</p>
                                        </div>
                                        <div class="option" type="referances">
                                            <p>المرجعيات</p>
                                        </div>
                                        <div class="option" type="gastro">
                                            <p>غاسترو</p>
                                        </div>
                                    </div>
                                    <% break; case "de" : %>
                                        <div class="options" type="navigation">
                                            <div class="option" type="about">
                                                <p>Über uns</p>
                                            </div>
                                            <div class="option" type="contact">
                                                <p>Kontakt</p>
                                            </div>
                                            <div class="option" type="referances">
                                                <p>Referenzen</p>
                                            </div>
                                            <div class="option" type="gastro">
                                                <p>Gastro</p>
                                            </div>
                                        </div>
                                        <% break; case "es" : %>
                                            <div class="options" type="navigation">
                                                <div class="option" type="about">
                                                    <p>Acerca de nosotros</p>
                                                </div>
                                                <div class="option" type="contact">
                                                    <p>Contacto</p>
                                                </div>
                                                <div class="option" type="referances">
                                                    <p>Referencias</p>
                                                </div>
                                                <div class="option" type="gastro">
                                                    <p>Gastro</p>
                                                </div>
                                            </div>
                                            <% break; case "fr" : %>
                                                <div class="options" type="navigation">
                                                    <div class="option" type="about">
                                                        <p>À propos de nous</p>
                                                    </div>
                                                    <div class="option" type="contact">
                                                        <p>Contact</p>
                                                    </div>
                                                    <div class="option" type="referances">
                                                        <p>Références</p>
                                                    </div>
                                                    <div class="option" type="gastro">
                                                        <p>Gastro</p>
                                                    </div>
                                                </div>
                                                <% break; case "it" : %>
                                                    <div class="options" type="navigation">
                                                        <div class="option" type="about">
                                                            <p>Chi Siamo</p>
                                                        </div>
                                                        <div class="option" type="contact">
                                                            <p>Contatti</p>
                                                        </div>
                                                        <div class="option" type="referances">
                                                            <p>Referenze</p>
                                                        </div>
                                                        <div class="option" type="gastro">
                                                            <p>Gastro</p>
                                                        </div>
                                                    </div>
                                                    <% break; case "nl" : %>
                                                        <div class="options" type="navigation">
                                                            <div class="option" type="about">
                                                                <p>Over ons</p>
                                                            </div>
                                                            <div class="option" type="contact">
                                                                <p>Contact</p>
                                                            </div>
                                                            <div class="option" type="referances">
                                                                <p>Referenties</p>
                                                            </div>
                                                            <div class="option" type="gastro">
                                                                <p>Gastro</p>
                                                            </div>
                                                        </div>
                                                        <% break; case "pt" : %>
                                                            <div class="options" type="navigation">
                                                                <div class="option" type="about">
                                                                    <p>Sobre nós</p>
                                                                </div>
                                                                <div class="option" type="contact">
                                                                    <p>Contato</p>
                                                                </div>
                                                                <div class="option" type="referances">
                                                                    <p>Referências</p>
                                                                </div>
                                                                <div class="option" type="gastro">
                                                                    <p>Gastro</p>
                                                                </div>
                                                            </div>
                                                            <% break; case "sv" : %>
                                                                <div class="options" type="navigation">
                                                                    <div class="option" type="about">
                                                                        <p>Om oss</p>
                                                                    </div>
                                                                    <div class="option" type="contact">
                                                                        <p>Kontakt</p>
                                                                    </div>
                                                                    <div class="option" type="referances">
                                                                        <p>Referenser</p>
                                                                    </div>
                                                                    <div class="option" type="gastro">
                                                                        <p>Gastro</p>
                                                                    </div>
                                                                </div>
                                                                <% break; }%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/backend/js/inc/menu/index.js"></script>