<!DOCTYPE html>
<html lang="fr">

<head>
    <meta name="author" content="Liriandev">
    <meta name="keywords"
        content="exemples de design de restaurant, architecture de restaurant, conception et construction de restaurant, design de restaurant, services d'exposition, foire, construction de stands d'exposition, Safir Fuar, architecture d'intérieur, architecture, design, montage de stands, restaurant, café, design de restaurant, design d'intérieur de restaurant, design de café, design d'intérieur de café, Istanbul, Allemagne, Turquie">
    <meta name="description"
        content="Safir Fuar est une success story qui a débuté modestement pour devenir un leader du secteur. Depuis plus de 10 ans, nous proposons des solutions de stands de qualité, innovantes et fonctionnelles dans de nombreux salons en Turquie et à l'étranger. Découvrez notre expertise en design gastro !">
    <meta charset="UTF-8">
    <meta name="Robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta property="og:title" content="Safir Fuar Gastro">
    <meta property="og:url" content="https://www.safirfuar.com/fr/gastro">
    <meta property="og:image" content="https://safirfuar.com/assets/img/logo/og-img.png">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/assets/img/logo/ic.png">
    <link rel="stylesheet" href="/css/pages/gastro/main.css">
    <title>Safir Fuar Gastro | Design d'Intérieur de Restaurants et Cafés</title>
</head>

<body>
    <div id="load">
        <div class="loader">
            <p>Safir Fuar</p>
            <div class="circle"></div>
        </div>
    </div>
    <%- include('../../../inc/wp_icon') %>

        <div class="sffg-slider slider">
            <div class="background">
                <div class="effect"></div>
                <div class="img">
                    <img src="/assets/img/gastro-slider.webp" loading="lazy">
                </div>
            </div>
            <div class="content">
                <div class="text-area">
                    <a href="/" class="logo loaded">
                        <img src="/assets/img/logo/safir-fuar-gastro-logo.png">
                    </a>
                    <div class="text">
                        <h1>Nous donnons vie à vos espaces avec des designs uniques et élégants</h1>
                        <p>Nous apportons l'élégance dans chaque détail et la qualité dans chaque projet</p>
                    </div>
                </div>
                <div class="lt-text-area">
                    <p>En associant esthétique, confort et fonctionnalité, nous créons des atmosphères inoubliables
                        dans vos restaurants et cafés.</p>
                </div>
                <div class="social-area">
                    <div class="social">
                        <div class="icon router" type="contact">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sffg-navigation navigation" type="navigation">
            <div class="option" type="main">
                <p>Accueil</p>
            </div>
            <div class="option" type="about">
                <p>À Propos</p>
            </div>
            <div class="option" type="contact">
                <p>Contact</p>
            </div>
            <div class="option" type="referances">
                <p>Références</p>
            </div>
        </div>
        <div class="sffg-about" route-loc="about">
            <h1>Nous donnons vie à vos espaces avec des designs uniques et élégants</h1>
            <div class="text-area">
                <div class="text">
                    <p>
                        Chez Safir Fuar, nous mettons à profit nos années d'expertise dans la conception et la
                        fabrication de stands d'exposition pour apporter des solutions innovantes et uniques aux
                        secteurs de la restauration et des cafés. Depuis notre création, nous nous attachons à créer des
                        espaces qui ne sont pas seulement fonctionnels, mais aussi esthétiques et représentatifs de
                        l'identité de votre marque.
                        <br> <br>
                        Pour chaque projet, nous développons des designs personnalisés basés sur les besoins, le public
                        cible et la vision de nos clients. Qu'il s'agisse d'un café chaleureux ou d'un restaurant
                        élégant, nous pensons que chaque espace a sa propre histoire unique et nous nous efforçons de la
                        raconter de la meilleure manière possible.
                        <br> <br>
                        Dans notre processus de conception, nous prenons en compte non seulement l'aspect esthétique,
                        mais aussi la fonctionnalité spatiale et l'expérience globale du client. Lors de la phase de
                        production, nous combinons des années d'expérience avec des technologies innovantes pour fournir
                        des solutions durables, de haute qualité et percutantes.
                        <br> <br>
                        Aujourd'hui, Safir Fuar est fier d'avoir réalisé de nombreux projets de restaurants et de cafés
                        en Turquie et à l'étranger. De la conception à la production, de la livraison à l'installation,
                        nous vous accompagnons à toutes les étapes du processus, travaillant pour transformer l'espace
                        de vos rêves en réalité. Safir Fuar est là pour amener vos espaces un cran au-dessus !
                    </p>
                </div>
                <div class="img-area">
                    <img src="/assets/img/gastro-gallery/img-2.webp">
                </div>
            </div>
        </div>
        <div class="sffg-process">
            <div class="content">
                <div class="text">
                    <h2>Ce que nous offrons en conception et fabrication</h2>
                    <ul>
                        <li>Design de concept et architecture d'intérieur.</li>
                        <li>Conception et fabrication de mobilier.</li>
                        <li>Éclairage et éléments décoratifs.</li>
                        <li>Identité spatiale et design de marque.</li>
                        <li>Solutions sur mesure pour des projets de toutes dimensions.</li>
                    </ul>
                </div>
                <div class="img-area">
                    <div class="img">
                        <img src="/assets/img/gastro-gallery/img-7.webp" loading="lazy">
                    </div>
                    <div class="img">
                        <img src="/assets/img/gastro-gallery/img-10.webp" loading="lazy">
                    </div>
                    <div class="img">
                        <img src="/assets/img/gastro-gallery/img-12.webp" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
        <div class="sffg-comment-referance">
            <h2>Les marques avec lesquelles nous avons travaillé</h2>
            <div class="output">
                <div class="comment">
                    <div class="company">
                        <p>vatan cafe</p>
                    </div>
                    <div class="name">
                        <p>Mehmet eraslan</p>
                    </div>
                    <div class="star">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path
                                d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path
                                d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path
                                d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path
                                d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path
                                d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z" />
                        </svg>
                    </div>
                    <div class="text">
                        <p>
                            Nous avons été extrêmement satisfaits des services de conception de restaurants et de cafés
                            de Safir Fuar. Notre espace est devenu exactement comme nous l'avions imaginé, et a même
                            dépassé nos attentes ! Grâce à leur souci du détail et à leurs idées créatives tout au long
                            du processus de conception, nous avons obtenu un espace à la fois esthétique et fonctionnel.
                            Ils ont été à nos côtés à chaque étape, de la production à l'installation, nous facilitant
                            grandement la tâche. C'est une équipe professionnelle et chaleureuse. Si nous ouvrons un
                            nouvel établissement, Safir Fuar sera de nouveau notre premier choix !
                        </p>
                    </div>
                </div>
                <div class="referance-comment-author">
                    <div class="comment-author">
                        <div class="img">
                            <img src="/assets/img/gastro-gallery/img-5.webp">
                        </div>
                        <div class="author">
                            <div class="company">
                                <p>vatan cafe</p>
                            </div>
                            <div class="name">
                                <p>Mehmet eraslan</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sffg-gallery">
            <h2>Galerie</h2>
            <div class="gallery-content">
                <div class="router" onclick="galleryData()">
                    <p>Voir plus d'images</p>
                </div>
                <div class="exmp-images">
                    <div class="img">
                        <img src="/assets/img/gastro-gallery/img-4.webp" loading="lazy">
                    </div>
                    <div class="img">
                        <img src="/assets/img/gastro-gallery/img-2.webp" loading="lazy">
                    </div>
                    <div class="img">
                        <img src="/assets/img/gastro-gallery/img-14.webp" loading="lazy">
                    </div>
                    <div class="img">
                        <img src="/assets/img/gastro-gallery/img-11.webp" loading="lazy">
                    </div>
                </div>
            </div>
            <div class="all-gallery-output">
                <div class="cnt">
                    <div class="close">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                            <path
                                d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
                        </svg>
                    </div>
                    <div class="output">
                        <div class="img">
                            <img src="/assets/img/gastro-gallery/img-1.webp" loading="lazy">
                        </div>
                        <div class="img">
                            <img src="/assets/img/gastro-gallery/img-2.webp" loading="lazy">
                        </div>
                        <div class="img">
                            <img src="/assets/img/gastro-gallery/img-3.webp" loading="lazy">
                        </div>
                        <div class="img">
                            <img src="/assets/img/gastro-gallery/img-4.webp" loading="lazy">
                        </div>
                        <div class="img">
                            <img src="/assets/img/gastro-gallery/img-5.webp" loading="lazy">
                        </div>
                        <div class="img">
                            <img src="/assets/img/gastro-gallery/img-6.webp" loading="lazy">
                        </div>
                    </div>
                    <div class="loading">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <div class="icon-1 icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                    <path
                        d="M96 64c0-17.7 14.3-32 32-32l320 0 64 0c70.7 0 128 57.3 128 128s-57.3 128-128 128l-32 0c0 53-43 96-96 96l-192 0c-53 0-96-43-96-96L96 64zM480 224l32 0c35.3 0 64-28.7 64-64s-28.7-64-64-64l-32 0 0 128zM32 416l512 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 480c-17.7 0-32-14.3-32-32s14.3-32 32-32z" />
                </svg>
            </div>
            <div class="icon-2 icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path
                        d="M416 0C400 0 288 32 288 176l0 112c0 35.3 28.7 64 64 64l32 0 0 128c0 17.7 14.3 32 32 32s32-14.3 32-32l0-128 0-112 0-208c0-17.7-14.3-32-32-32zM64 16C64 7.8 57.9 1 49.7 .1S34.2 4.6 32.4 12.5L2.1 148.8C.7 155.1 0 161.5 0 167.9c0 45.9 35.1 83.6 80 87.7L80 480c0 17.7 14.3 32 32 32s32-14.3 32-32l0-224.4c44.9-4.1 80-41.8 80-87.7c0-6.4-.7-12.8-2.1-19.1L191.6 12.5c-1.8-8-9.3-13.3-17.4-12.4S160 7.8 160 16l0 134.2c0 5.4-4.4 9.8-9.8 9.8c-5.1 0-9.3-3.9-9.8-9L127.9 14.6C127.2 6.3 120.3 0 112 0s-15.2 6.3-15.9 14.6L83.7 151c-.5 5.1-4.7 9-9.8 9c-5.4 0-9.8-4.4-9.8-9.8L64 16zm48.3 152l-.3 0-.3 0 .3-.7 .3 .7z" />
                </svg>
            </div>
            <div class="icon-3 icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path
                        d="M61.1 224C45 224 32 211 32 194.9c0-1.9 .2-3.7 .6-5.6C37.9 168.3 78.8 32 256 32s218.1 136.3 223.4 157.3c.5 1.9 .6 3.7 .6 5.6c0 16.1-13 29.1-29.1 29.1L61.1 224zM144 128a16 16 0 1 0 -32 0 16 16 0 1 0 32 0zm240 16a16 16 0 1 0 0-32 16 16 0 1 0 0 32zM272 96a16 16 0 1 0 -32 0 16 16 0 1 0 32 0zM16 304c0-26.5 21.5-48 48-48l384 0c26.5 0 48 21.5 48 48s-21.5 48-48 48L64 352c-26.5 0-48-21.5-48-48zm16 96c0-8.8 7.2-16 16-16l416 0c8.8 0 16 7.2 16 16l0 16c0 35.3-28.7 64-64 64L96 480c-35.3 0-64-28.7-64-64l0-16z" />
                </svg>
            </div>
            <div class="icon-4 icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path
                        d="M346.7 6C337.6 17 320 42.3 320 72c0 40 15.3 55.3 40 80s40 40 80 40c29.7 0 55-17.6 66-26.7c4-3.3 6-8.2 6-13.3s-2-10-6-13.2c-11.4-9.1-38.3-26.8-74-26.8c-32 0-40 8-40 8s8-8 8-40c0-35.7-17.7-62.6-26.8-74C370 2 365.1 0 360 0s-10 2-13.3 6zM244.6 136c-40 0-77.1 18.1-101.7 48.2l60.5 60.5c6.2 6.2 6.2 16.4 0 22.6s-16.4 6.2-22.6 0l-55.3-55.3 0 .1L2.2 477.9C-2 487-.1 497.8 7 505s17.9 9 27.1 4.8l134.7-62.4-52.1-52.1c-6.2-6.2-6.2-16.4 0-22.6s16.4-6.2 22.6 0L199.7 433l100.2-46.4c46.4-21.5 76.2-68 76.2-119.2C376 194.8 317.2 136 244.6 136z" />
                </svg>
            </div>
        </div>
        <div class="stage-by">
            <div class="name">
                <p>Safir Fuar</p>
            </div>
            <div class="title">
                <h1>Visualisez votre espace <br> grâce à nos solutions <br> de design</h1>
            </div>
            <p>Contactez-nous pour des solutions personnalisées</p>
            <div class="router" type="contact">
                <p>Contactez-nous</p>
            </div>
        </div>
        <%- include('../../../inc/footer') %>


</body>
<script src="/backend/js/inc/menu/index.js"></script>
<script src="/backend/js/inc/footer/index.js"></script>
<script src="/backend/js/inc/body.js"></script>
<script src="/backend/js/pages/gastro/index.js"></script>
<script src="/backend/js/inc/router-button/index.js"></script>

</html>