<!DOCTYPE html>
<html lang="fr">

<head>
    <meta name="author" content="Liriandev">
    <meta name="keywords"
        content="conception de stands d'exposition, designs de stands d'exposition, stand de foire, services de conception de stands, matériaux de stand d'exposition, prix de stands d'exposition, prix de location de stands, modèles de stands d'exposition, exemples de stands, Safir Fuar, Istanbul, exposition Istanbul, services d'exposition, foire, construction de stands, architecture d'intérieur, architecture, design, montage de stands, restaurant, café, design de restaurant, design d'intérieur de restaurant, design de café, design d'intérieur de café, Istanbul, Allemagne, Turquie, contact, Safir Fuar contact">
    <meta name="description"
        content="Safir Fuar est une success story qui a débuté modestement pour devenir un leader du secteur. Depuis plus de 10 ans, nous proposons des solutions de stands de qualité, innovantes et fonctionnelles en Turquie et à l'étranger. Contactez-nous pour vos projets !">
    <meta charset="UTF-8">
    <meta name="Robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta property="og:title" content="Safir Fuar | Contact">
    <meta property="og:url" content="https://www.safirfuar.com/fr/contact">
    <meta property="og:image" content="https://safirfuar.com/assets/img/logo/og-img.png">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/assets/img/logo/ic.png">
    <link rel="stylesheet" href="/css/pages/contact/main.css">
    <title>Safir Fuar | Contact</title>
</head>

<body>
    <div id="load">
        <div class="loader">
            <p>Safir Fuar</p>
            <div class="circle"></div>
        </div>
    </div>
    <%- include('../../../inc/header') %>
        <div class="sff-contact-slider">
            <div class="background">
                <div class="effect"></div>
                <div class="img">
                    <img src="/assets/img/contact-slider.webp" loading="lazy">
                </div>
            </div>
            <div class="text-area">
                <h1>Contactez-nous</h1>
            </div>
            <div class="absolute-text-area">
                <p>nos secteurs d'activité</p>
                <h3>nos services</h3>
                <p>contactez-nous pour en savoir plus</p>
            </div>
        </div>
        <div class="sff-post-mail">
            <div class="post" route-mail="hqkko0@gmail.com">
                <div class="email">
                    <input type="email" name="email" id="email" placeholder="e-mail">
                </div>
                <div class="tel">
                    <input type="tel" name="tel" id="tel" placeholder="numéro de téléphone">
                </div>
                <div class="name">
                    <input type="text" name="name" id="name" placeholder="nom ou entreprise">
                </div>
                <div class="message">
                    <textarea name="message" id="message" placeholder="message"></textarea>
                </div>
                <div class="policy">
                    <div class="checkbox">
                        <input type="checkbox" name="policy" id="policy">
                    </div>
                    <div class="text">
                        <p>J'accepte le <info>partage</info> de mes informations avec "Safir Fuar".</p>
                    </div>
                </div>
                <div class="submit" id="submit">
                    <div class="button">
                        <p>Envoyer l'e-mail</p>
                    </div>
                </div>
            </div>
            <div class="ss">
                <div class="background">
                    <div class="effect"></div>
                    <div class="img">
                        <img src="/assets/img/ss.webp" loading="lazy">
                    </div>
                </div>
                <div class="text-area">
                    <div class="title">
                        <h1>Foire Aux Questions</h1>
                    </div>
                    <div class="ss-output">
                        <p>Proposez-vous vos services à l'étranger ?</p>
                        <p>Combien de temps dure le processus de conception ?</p>
                        <p>Quels secteurs et domaines desservez-vous ?</p>
                        <p>Est-il possible de voir différentes options de design ?</p>
                    </div>
                    <div class="router" type="contact">
                        <p>Appelez-nous</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sff-contact-cards">
            <div class="card">
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path
                            d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z" />
                    </svg>
                </div>
                <div class="options">
                    <a href="tel:+2124518810">
                        <p>(0212) 451 8810</p>
                    </a>
                    <a href="tel:+905494518810">
                        <p>(549) 451 8810</p>
                    </a>
                    <a href="tel:+905494518811">
                        <p>(549) 451 8811</p>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path
                            d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-208L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
                    </svg>
                </div>
                <div class="options">
                    <a href="mailto:info@safirfuar.com">
                        <p>info@safirfuar.com</p>
                    </a>
                    <a href="mailto:safirfuar@gamil.com">
                        <p>safirfuar@gamil.com</p>
                    </a>
                    <a href="mailto:ahsapfuar@gmail.com">
                        <p>ahsapfuar@gmail.com</p>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                        <path
                            d="M579.8 267.7c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114L422.3 334.8c-31.5 31.5-82.5 31.5-114 0c-27.9-27.9-31.5-71.8-8.6-103.8l1.1-1.6c10.3-14.4 6.9-34.4-7.4-44.6s-34.4-6.9-44.6 7.4l-1.1 1.6C206.5 251.2 213 330 263 380c56.5 56.5 148 56.5 204.5 0L579.8 267.7zM60.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C74 372 74 321 105.5 289.5L217.7 177.2c31.5-31.5 82.5-31.5 114 0c27.9 27.9 31.5 71.8 8.6 103.9l-1.1 1.6c-10.3 14.4-6.9 34.4 7.4 44.6s34.4 6.9 44.6-7.4l1.1-1.6C433.5 260.8 427 182 377 132c-56.5-56.5-148-56.5-204.5 0L60.2 244.3z" />
                    </svg>
                </div>
                <div class="text-area">
                    <p>Horaires d'ouverture (Heure de Turquie) : 09h00 – 19h00</p>
                    <div class="social">
                        <div class="icon router" type="contact">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path
                                    d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z" />
                            </svg>
                        </div>
                        <div class="icon router" type="url" url="">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path
                                    d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z" />
                            </svg>
                        </div>
                        <div class="icon router" type="url" url="https://wa.me/+902124518810">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path
                                    d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7 .9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z" />
                            </svg>
                        </div>
                        <div class="icon router" type="url" url="mailto:info@safirfuar.com">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path
                                    d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-208L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sff-map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3010.941526689316!2d28.694700075337373!3d41.004653019649204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa0f2c613d00d%3A0xc3954ca7227becbf!2sTurgut%20%C3%96zal%2C%20Oktay%20R%C4%B1fat%20Cd.%20No%3A95%2C%2034513%20Esenyurt%2F%C4%B0stanbul!5e0!3m2!1str!2str!4v1737627568509!5m2!1str!2str"
                style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <%- include('../../../inc/footer') %>

</body>
<script src="/backend/js/inc/body.js"></script>
<script src="/backend/js/pages/contact/index.js"></script>
<script src="/backend/js/inc/router-button/index.js"></script>

</html>