<!DOCTYPE html>
<html lang="tr">

<head>
    <meta name="google-site-verification" content="1JQTAizcVM2oZpTEC7Wap8h99H6FA_EC8XttDq5OB_c" />
    <meta name="author" content="Liriandev">
    <meta name="keywords"
        content="fuar stand tasarımı,fuar stand tasarımları,fuar stand,fuar stand tasarım,fuar stand malzemeleri,fuar stand fiyatları,fuar stand kiralama fiyatları,fuar stand modelleri,fuar stand örnekleri, safir, safir fuar, istanbul, istanbul fuar, fuarcılık, fuar, stand kurulum, safir, safir fuar, iç mimarlık, mimarlık, design, fuar stand kurulumu, restoran, kafe, restoran design, restoran iç mimarlık, restoran tasarlama, kafe design, kafe iç mimarlık, istanbul, almanya, türkiye">
    <meta name="description"
        content="Uluslararası fuar organizasyonu, fuar standı ve ticari mekân tasarımı. Otel, restoran, mağaza ve showroom projeleri için anahtar teslim çözümler.">
    <meta charset="UTF-8">
    <meta name="Robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Safir Fuar">
    <meta property="og:url" content="https://www.safirfuar.com/">
    <meta property="og:image" content="https://safirfuar.com/assets/img/logo/og-img.png">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/assets/img/logo/ic.png">
    <link rel="stylesheet" href="/css/pages/home/main.css">
    <link rel="alternate" hreflang="tr" href="https://safirfuar.com/" />
    <link rel="alternate" hreflang="en" href="https://en.safirfuar.com/" />
    <link rel="alternate" hreflang="de" href="https://de.safirfuar.com/" />
    <link rel="alternate" hreflang="de" href="https://ar.safirfuar.com/" />
    <link rel="alternate" hreflang="de" href="https://es.safirfuar.com/" />
    <link rel="alternate" hreflang="de" href="https://fr.safirfuar.com/" />
    <link rel="alternate" hreflang="de" href="https://it.safirfuar.com/" />
    <link rel="alternate" hreflang="de" href="https://nl.safirfuar.com/" />
    <link rel="alternate" hreflang="de" href="https://pt.safirfuar.com/" />
    <link rel="alternate" hreflang="de" href="https://sv.safirfuar.com/" />
    <link rel="alternate" hreflang="x-default" href="https://safirfuar.com/" />
    <link rel="canonical" href="https://safirfuar.com/" />
    <title>Safir Fuar | Fuar Stand Kurulumu ve Dahası</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://unpkg.com/topojson-client@3"></script>
</head>

<body>
    <div id="load">
        <div class="loader">
            <p>Safir Fuar</p>
            <div class="circle"></div>
        </div>
    </div>
    <%- include('../../../inc/header') %>
        <%- include('../../../inc/wp_icon') %>

            <div class="slider">
                <div class="bg">
                    <div class="effect"></div>
                    <img src="" alt="">
                </div>
                <div class="slider-content">
                    <div class="text-area">
                        <div class="title">
                            <p>Uluslararası Fuar Standı <br> ve Mekân çözümleri</p>
                        </div>
                        <div class="cta-buttons">
                            <div class="button" onclick="window.location.href = '/pages/contact'">
                                <p>İletişim</p>
                            </div>
                        </div>
                    </div>

                    <div class="gastro-popup">
                        <div class="cnt">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 48 48">
                                    <path fill="none" stroke="#fdfdfd" stroke-linecap="round" stroke-linejoin="round"
                                        d="m23.055 14.212l6.942-6.943c2.679-2.678 7.539-2.162 10.217.517s3.195 7.538.517 10.217L30.448 28.286c-2.679 2.678-7.538 2.162-10.217-.517"
                                        stroke-width="2.8" />
                                    <path fill="none" stroke="#fdfdfd" stroke-linecap="round" stroke-linejoin="round"
                                        d="m24.945 33.789l-6.942 6.942c-2.679 2.678-7.539 2.162-10.217-.517s-3.195-7.538-.517-10.217l10.283-10.283c2.679-2.678 7.539-2.162 10.217.517"
                                        stroke-width="2.8" />
                                </svg>
                            </div>
                            <p>Mekan çözümleri <br> ve dahası için</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-areas-bar">
                <div class="content">
                    <div class="left">
                        <p>Fuar alanlarında markanızı en doğru şekilde temsil edecek çözümler üretiriz.</p>
                    </div>
                    <div class="right">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24">
                                <path fill="#fdfdfd"
                                    d="M17.34 5.46a1.2 1.2 0 1 0 1.2 1.2a1.2 1.2 0 0 0-1.2-1.2m4.6 2.42a7.6 7.6 0 0 0-.46-2.43a4.9 4.9 0 0 0-1.16-1.77a4.7 4.7 0 0 0-1.77-1.15a7.3 7.3 0 0 0-2.43-.47C15.06 2 14.72 2 12 2s-3.06 0-4.12.06a7.3 7.3 0 0 0-2.43.47a4.8 4.8 0 0 0-1.77 1.15a4.7 4.7 0 0 0-1.15 1.77a7.3 7.3 0 0 0-.47 2.43C2 8.94 2 9.28 2 12s0 3.06.06 4.12a7.3 7.3 0 0 0 .47 2.43a4.7 4.7 0 0 0 1.15 1.77a4.8 4.8 0 0 0 1.77 1.15a7.3 7.3 0 0 0 2.43.47C8.94 22 9.28 22 12 22s3.06 0 4.12-.06a7.3 7.3 0 0 0 2.43-.47a4.7 4.7 0 0 0 1.77-1.15a4.85 4.85 0 0 0 1.16-1.77a7.6 7.6 0 0 0 .46-2.43c0-1.06.06-1.4.06-4.12s0-3.06-.06-4.12M20.14 16a5.6 5.6 0 0 1-.34 1.86a3.06 3.06 0 0 1-.75 1.15a3.2 3.2 0 0 1-1.15.75a5.6 5.6 0 0 1-1.86.34c-1 .05-1.37.06-4 .06s-3 0-4-.06a5.7 5.7 0 0 1-1.94-.3a3.3 3.3 0 0 1-1.1-.75a3 3 0 0 1-.74-1.15a5.5 5.5 0 0 1-.4-1.9c0-1-.06-1.37-.06-4s0-3 .06-4a5.5 5.5 0 0 1 .35-1.9A3 3 0 0 1 5 5a3.1 3.1 0 0 1 1.1-.8A5.7 5.7 0 0 1 8 3.86c1 0 1.37-.06 4-.06s3 0 4 .06a5.6 5.6 0 0 1 1.86.34a3.06 3.06 0 0 1 1.19.8a3.1 3.1 0 0 1 .75 1.1a5.6 5.6 0 0 1 .34 1.9c.05 1 .06 1.37.06 4s-.01 3-.06 4M12 6.87A5.13 5.13 0 1 0 17.14 12A5.12 5.12 0 0 0 12 6.87m0 8.46A3.33 3.33 0 1 1 15.33 12A3.33 3.33 0 0 1 12 15.33" />
                            </svg>
                        </div>
                        <div class="icon" onclick="window.location.href='https://wa.me/+905494518811'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24">
                                <path fill="#fdfdfd"
                                    d="M12.04 2c-5.46 0-9.91 4.45-9.91 9.91c0 1.75.46 3.45 1.32 4.95L2.05 22l5.25-1.38c1.45.79 3.08 1.21 4.74 1.21c5.46 0 9.91-4.45 9.91-9.91c0-2.65-1.03-5.14-2.9-7.01A9.82 9.82 0 0 0 12.04 2m.01 1.67c2.2 0 4.26.86 5.82 2.42a8.23 8.23 0 0 1 2.41 5.83c0 4.54-3.7 8.23-8.24 8.23c-1.48 0-2.93-.39-4.19-1.15l-.3-.17l-3.12.82l.83-3.04l-.2-.32a8.2 8.2 0 0 1-1.26-4.38c.01-4.54 3.7-8.24 8.25-8.24M8.53 7.33c-.16 0-.43.06-.66.31c-.22.25-.87.86-.87 2.07c0 1.22.89 2.39 1 2.56c.14.17 1.76 2.67 4.25 3.73c.59.27 1.05.42 1.41.53c.59.19 1.13.16 1.56.1c.48-.07 1.46-.6 1.67-1.18s.21-1.07.15-1.18c-.07-.1-.23-.16-.48-.27c-.25-.14-1.47-.74-1.69-.82c-.23-.08-.37-.12-.56.12c-.16.25-.64.81-.78.97c-.15.17-.29.19-.53.07c-.26-.13-1.06-.39-2-1.23c-.74-.66-1.23-1.47-1.38-1.72c-.12-.24-.01-.39.11-.5c.11-.11.27-.29.37-.44c.13-.14.17-.25.25-.41c.08-.17.04-.31-.02-.43c-.06-.11-.56-1.35-.77-1.84c-.2-.48-.4-.42-.56-.43c-.14 0-.3-.01-.47-.01" />
                            </svg>
                        </div>
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24">
                                <path fill="#fdfdfd"
                                    d="M20.47 2H3.53a1.45 1.45 0 0 0-1.47 1.43v17.14A1.45 1.45 0 0 0 3.53 22h16.94a1.45 1.45 0 0 0 1.47-1.43V3.43A1.45 1.45 0 0 0 20.47 2M8.09 18.74h-3v-9h3ZM6.59 8.48a1.56 1.56 0 1 1 0-3.12a1.57 1.57 0 1 1 0 3.12m12.32 10.26h-3v-4.83c0-1.21-.43-2-1.52-2A1.65 1.65 0 0 0 12.85 13a2 2 0 0 0-.1.73v5h-3v-9h3V11a3 3 0 0 1 2.71-1.5c2 0 3.45 1.29 3.45 4.06Z" />
                            </svg>
                        </div>
                        <div class="icon" onclick="window.location.href='tel:+905494518810'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24">
                                <path fill="#fdfdfd"
                                    d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24c1.12.37 2.33.57 3.57.57c.55 0 1 .45 1 1V20c0 .55-.45 1-1 1c-9.39 0-17-7.61-17-17c0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1c0 1.25.2 2.45.57 3.57c.11.35.03.74-.25 1.02z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="works-area">
                <div class="content">
                    <p>
                        Proje yönetiminden <br> uygulamaya <b><span id="works-output">Fuar</span></b> <br> projelerinde
                        bütüncül çözümler <br> sunuyoruz.
                    </p>
                </div>
            </div>
            <div class="about" route-loc="about">
                <div class="content">
                    <div class="card">
                        <img src="/assets/img/about-1.webp" alt="" class="banner ">
                        <div class="card-content">
                            <div class="img">
                                <img src="/assets/img/about-1.webp" alt="" class="">
                            </div>
                            <div class="text">
                                <div class="title">
                                    <p>Markanızı sahada güçlü şekilde temsil ederiz.</p>
                                </div>
                                <div class="cnt">
                                    <p>Safir Fuar, markalar için özel tasarlanmış fuar standları üreten, bu süreci
                                        tasarımdan kuruluma kadar uçtan uca yöneten bir firmadır. Fuar standlarının yanı
                                        sıra showroom, restoran ve özel ticari alan projelerinde de anahtar teslim
                                        çözümler
                                        sunar.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/assets/img/about-2.webp" alt="" class="banner">
                        <div class="card-content">
                            <div class="img">
                                <img src="/assets/img/about-2.webp" alt="" class="">
                            </div>
                            <div class="text">
                                <div class="title">
                                    <p>Süreci sizin yerinize biz yönetiriz.</p>
                                </div>
                                <div class="cnt">
                                    <p>İhtiyacınızı dinler, bütçenize ve markanıza uygun tasarımı hazırlarız. Üretim,
                                        sevkiyat ve kurulum dahil olmak üzere tüm süreci tek elden yönetiriz. Siz sadece
                                        işinize odaklanırsınız, standınız zamanında ve eksiksiz şekilde hazır olur.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/assets/img/about-3.webp" alt="" class="banner">
                        <div class="card-content">
                            <div class="img">
                                <img src="/assets/img/about-3.webp" alt="" class="">
                            </div>
                            <div class="text">
                                <div class="title">
                                    <p>Tecrübe, kalite ve zamanında teslim.</p>
                                </div>
                                <div class="cnt">
                                    <p>10 yılı aşkın süredir fuar ve stand sektöründe faaliyet gösteriyoruz. Her projede
                                        malzeme kalitesine, işçiliğe ve detaylara aynı özeni gösteriyoruz. İster küçük
                                        ölçekli bir stand, ister büyük bir fuar alanı olsun; kalite bizim için
                                        standarttır.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="" alt="" class="banner">
                        <div class="card-content">
                            <div class="img">
                                <img src="" alt="" class="">
                            </div>
                            <div class="text">
                                <div class="title">
                                    <p>Türkiye’de güçlü, uluslararası alanda deneyimli.</p>
                                </div>
                                <div class="cnt">
                                    <p>Türkiye başta olmak üzere Almanya, Hollanda, Fransa, İspanya ve Orta Doğu’da
                                        birçok
                                        projeye imza attık. Özellikle Almanya’da aktif olarak fuar standları üretiyor ve
                                        kurulumlarını gerçekleştiriyoruz. Uluslararası standartlara uygun üretim ve
                                        zamanında teslim anlayışımızla, markanızı her yerde güvenle temsil ederiz.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="world-by-us">
                <div class="title">
                    <p>Our global presence</p>
                    <hr>
                    <p>from local projects to international brand projects experiences</p>
                </div>
                <div class="world-content">
                    <div id="map"></div>
                    <div class="info-card">
                        <div class="cnt">
                            <div class="country-info">
                                <div class="country">
                                    <div class="flag">
                                        <img src="https://countryflagsapi.netlify.app/flag/de.svg">
                                    </div>
                                    <div class="name">
                                        <p>Germany</p>
                                    </div>
                                </div>
                                <div class="comment">
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
                                </div>
                                <div class="list">
                                    <div class="el">
                                        <p><b>50+</b> Çalışan</p>
                                    </div>
                                    <div class="el">
                                        <p><b>25+</b> Fuar</p>
                                    </div>
                                    <div class="el">
                                        <p>düsseldorf, hannover, berlin</p>
                                    </div>
                                </div>
                                <div class="sample-img">
                                    <div class="sample-info">
                                        <p>Made Expo</p>
                                    </div>
                                    <img src="/assets/img/projects/project-10.webp">
                                </div>
                                <div class="router" onclick="infoCard()">
                                    <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="28" height="28"
                                        viewBox="0 0 24 24">
                                        <path fill="none" stroke="#fdfdfd" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-width="1.8"
                                            d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
                                    </svg>
                                    <svg class="close" xmlns="http://www.w3.org/2000/svg" width="28" height="28"
                                        viewBox="0 0 24 24">
                                        <path fill="#fdfdfd"
                                            d="M18.3 5.71a.996.996 0 0 0-1.41 0L12 10.59L7.11 5.7A.996.996 0 1 0 5.7 7.11L10.59 12L5.7 16.89a.996.996 0 1 0 1.41 1.41L12 13.41l4.89 4.89a.996.996 0 1 0 1.41-1.41L13.41 12l4.89-4.89c.38-.38.38-1.02 0-1.4" />
                                    </svg>
                                </div>
                            </div>
                            <div class="global-info">
                                <div class="country">
                                    <p><b>6+</b> Ülke</p>
                                </div>
                                <div class="fair">
                                    <p><b>40+</b> Fuar</p>
                                </div>
                                <div class="brands">
                                    <p><b>90+</b> Marka</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="global-info-mobil">
                        <div class="cnt">
                            <div class="country">
                                <p><b>6+</b> Ülke</p>
                            </div>
                            <div class="fair">
                                <p><b>40+</b> Fuar</p>
                            </div>
                            <div class="brands">
                                <p><b>90+</b> Marka</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="stage-referances" route-loc="referances">
                <div class="referances-content">
                    <div class="referances-header">
                        <h1>Bize Güvenen Markalar</h1>
                        <p>Siz de markanızı en iyi şekilde temsil etmek için bizimle çalışabilirsiniz</p>
                    </div>
                    <div class="referances-output">
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/press_feeding_systems_logo.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/logo2.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/ibb.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/okyanus home logo.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/kocak.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/idas.webp" loading="lazy">
                            </div>
                        </div>
                    </div>
                    <div class="all-referance-view-button" onclick="allReferances()">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                            <path
                                d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" style="position: absolute;">
                            <path
                                d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
                        </svg>
                    </div>
                    <div class="all-referances-output">
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/140_230-sol_tasduvar_yanı.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/1651406729090.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/2.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/691123759_640.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/Adsız.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/ae.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/ağaoğlu.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/COMPONENTA.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/disera_logo.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/ejot tezmak.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/find_201921_133357664.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/g.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/gfgd.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/günbeyi grup.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/image001.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/images.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/Implura LOGO.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/kastas.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/l1.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/logo-1.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/LOGO.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/hello_kitty.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/Mecmot-Logo-150x150.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/Medikal Fuarı Tasarımı 2023-2.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/nazar.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/daymod.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/PIERRECARDIN.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/kultur-as.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/Proses Makina Logo.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/sepe.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/TİOPLAS+.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/torun silah.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/turan.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/YENİ LOGO.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/yılmaz.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="referance-data">
                            <div class="img">
                                <img src="/assets/img/referances/Çalışma Yüzeyi 1@2x.webp" loading="lazy">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="stage-projects" route-loc="projects">
                <h1>
                    Tamamladığımız <br> Projelerden İlham Alın
                </h1>
                <div class="projects-output">
                    <div class="projects">
                        <div class="data">
                            <div class="background">
                                <div class="effect"></div>
                                <div class="img">
                                    <img src="/assets/img/projects/project-2.webp" loading="lazy">
                                </div>
                            </div>
                            <div class="text-area">
                                <div class="name">
                                    <p>MADE EXPO</p>
                                </div>
                                <div class="text">
                                    <p>Milano / İtalya</p>
                                </div>
                            </div>
                        </div>
                        <div class="data">
                            <div class="background">
                                <div class="effect"></div>
                                <div class="img">
                                    <img src="/assets/img/projects/project-1.webp" loading="lazy">
                                </div>
                            </div>
                            <div class="text-area">
                                <div class="name">
                                    <p>MADE EXPO</p>
                                </div>
                                <div class="text">
                                    <p>Milano / İtalya</p>
                                </div>
                            </div>
                        </div>
                        <div class="data">
                            <div class="background">
                                <div class="effect"></div>
                                <div class="img">
                                    <img src="/assets/img/projects/project-4.webp" loading="lazy">
                                </div>
                            </div>
                            <div class="text-area">
                                <div class="name">
                                    <p>MADE EXPO</p>
                                </div>
                                <div class="text">
                                    <p>Milano / İtalya</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="router-project" onclick="allProjects()">
                        <div class="background">
                            <div class="effect"></div>
                            <div class="img">
                                <img src="/assets/img/projects/project-3.webp" loading="lazy">
                            </div>
                        </div>
                        <div class="text-area">
                            <div class="name">
                                <p>MADE EXPO</p>
                            </div>
                            <div class="text">
                                <p>Milano / İtalya</p>
                            </div>
                        </div>
                        <div class="router" type="page" page="projects">
                            <div class="text">
                                <p>Tüm projeleri gör</p>
                            </div>
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                    <path
                                        d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="all-projects">
                        <div class="content">
                            <div class="close">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                    <path
                                        d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
                                </svg>
                            </div>
                            <div class="output">
                                <div class="data">
                                    <div class="background">
                                        <div class="effect"></div>
                                        <div class="img">
                                            <img src="/assets/img/projects/project-5.webp" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="data">
                                    <div class="background">
                                        <div class="effect"></div>
                                        <div class="img">
                                            <img src="/assets/img/projects/project-6.webp" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="data">
                                    <div class="background">
                                        <div class="effect"></div>
                                        <div class="img">
                                            <img src="/assets/img/projects/project-7.webp" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="data">
                                    <div class="background">
                                        <div class="effect"></div>
                                        <div class="img">
                                            <img src="/assets/img/projects/project-8.webp" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="data">
                                    <div class="background">
                                        <div class="effect"></div>
                                        <div class="img">
                                            <img src="/assets/img/projects/project-9.webp" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="data">
                                    <div class="background">
                                        <div class="effect"></div>
                                        <div class="img">
                                            <img src="/assets/img/projects/project-10.webp" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="data">
                                    <div class="background">
                                        <div class="effect"></div>
                                        <div class="img">
                                            <img src="/assets/img/projects/project-11.webp" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="data">
                                    <div class="background">
                                        <div class="effect"></div>
                                        <div class="img">
                                            <img src="/assets/img/projects/project-12.webp" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                                <div class="data">
                                    <div class="background">
                                        <div class="effect"></div>
                                        <div class="img">
                                            <img src="/assets/img/projects/project-13.webp" loading="lazy">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="loading">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="stage-by">
                <div class="name">
                    <p>safir fuar</p>
                </div>
                <div class="title">
                    <h1>Standınız konuşsun, <br> siz keyfinize bakın!</h1>
                </div>
                <p>Size özel çözümler için bizimle iletişime geçin</p>
                <div class="router" type="contact">
                    <p>İletişim</p>
                </div>
            </div>
            <%- include('../../../inc/footer') %>
</body>

<script src="/backend/js/inc/body.js"></script>
<script src="/backend/js/pages/home/index.js"></script>
<script src="/backend/js/inc/router-button/index.js"></script>

</html>